apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "scout.fullname" . }}-config
  labels:
    {{- include "scout.labels" . | nindent 4 }}
data:
  INTERVAL: {{ .Values.scout.interval | quote }}
  PORT: {{ .Values.scout.port | quote }}
  COLLECTIONS_DIR: {{ .Values.scout.collectionsDir | quote }}
  NEWMAN_SCRIPT_PATH: {{ .Values.scout.newmanScriptPath | quote }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "scout.fullname" . }}-collections
  labels:
    {{- include "scout.labels" . | nindent 4 }}
data:
  {{- if .Values.scout.collections }}
  {{- toYaml .Values.scout.collections | nindent 2 }}
  {{- else }}
  .gitkeep: ""
  {{- end }}
