apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "scout.fullname" . }}-config
  labels:
    {{- include "scout.labels" . | nindent 4 }}
data:
  INTERVAL: {{ .Values.scout.interval | quote }}
  PORT: {{ .Values.scout.port | quote }}
  COLLECTIONS_DIR: {{ .Values.scout.collectionsDir | quote }}
  NEWMAN_SCRIPT_PATH: {{ .Values.scout.newmanScriptPath | quote }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "scout.fullname" . }}-collections
  labels:
    {{- include "scout.labels" . | nindent 4 }}
data:
  {{- if .Values.scout.collections }}
  {{- range $collectionName, $collectionConfig := .Values.scout.collections }}
  {{- $path := printf "%s/*" $collectionConfig.path }}
  {{- range $filePath, $_ := $.Files.Glob $path }}
  {{- $fileName := base $filePath }}
  {{ printf "%s/%s" $collectionName $fileName }}: |
{{ $.Files.Get $filePath | indent 4 }}
  {{- end }}
  {{- end }}
  {{- else }}
  .gitkeep: ""
  {{- end }}